/* Parent dropdown aktif */
#layout-menu .menu-item.active.open > .menu-link {
    background-color: rgba(214, 51, 132, 0.12) !important;
    color: #d63384 !important;
}
/* FORCE override warna aktif (parent & child) */
#layout-menu .menu-item.active > .menu-link {
    background-color: rgba(214, 51, 132, 0.12) !important;
    color: #d63384 !important;
    border-radius: 12px;
}


/* Icon parent dropdown */
#layout-menu .menu-item.active > .menu-link.menu-toggle i {
    color: #d63384 !important;
}

/* Submenu aktif */
#layout-menu .menu-sub .menu-item.active > .menu-link {
    background-color: rgba(214, 51, 132, 0.1) !important;
    border-radius: 15px !important;
    color: #d63384 !important;
}

/* MATIIN GRADIENT ACTIVE SNEAT */
#layout-menu .menu-item.active > .menu-link {
    background-image: none !important;
    background-color: rgba(214, 51, 132, 0.12) !important;
    color: #d63384 !important;
    border-radius: 12px;
}

/* Icon submenu aktif */
#layout-menu .menu-sub .menu-item.active > .menu-link i {
    color: #d63384 !important;
}

/* Hover submenu */
#layout-menu .menu-sub .menu-item > .menu-link:hover {
    background-color: rgba(214, 51, 132, 0.1) !important;
    border-radius: 15px !important;
    color: #d63384 !important;
}

.phone-mockup {
    width: 280px;
    height: 500px;
    background: #171717;
    border-radius: 3rem;
    border: 8px solid #262626;
    position: relative;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    outline: 1px solid rgba(255, 255, 255, 0.1);
}
